.SearchBar {
    background-color: rgb(228, 228, 228);
    opacity: 0.7;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 56;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    z-index: 30;
    transition: transform 0.3s ease-out;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-92%);
}

.SortBy {
    margin-right: 10px;
}

@media (min-width: 500px) {
    .Close {
        transform: translateX(-94%);
    }
}