.BuildButtons{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content:center;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}

.BuildButtons .OrderButton {
    cursor: pointer;
    margin-top: 16px;
    padding: 15px 30px;
    background-color: rgb(160, 229, 171);
}

.BuildButtons .OrderButton:hover {
    cursor: pointer;
    margin-top: 16px;
    padding: 15px 30px;
    background-color: rgb(112, 228, 131);
}

.BuildButtons .SignInButton {
    cursor: pointer;
    margin-top: 16px;
    padding: 15px 30px;
    background-color: rgb(231, 133, 133);
}

.BuildButtons .SignInButton:hover {
    cursor: pointer;
    margin-top: 16px;
    padding: 15px 30px;
    background-color: rgb(233, 94, 94);
}

.BuildButtons .ResetButton {
    cursor: pointer;
    margin-top: 16px;
    padding: 15px 30px;
}

.Divider{
    width:20px;
    height:auto;
    display:inline-block;
}
