.PasswordChange {
    margin-bottom: 30px;
}

.Title {
    margin-left: 10px;
}

.SubmitButton {
    cursor: pointer;
    color: white;
    background-color: red;
    margin-top: 16px;
    padding: 15px 30px;
    margin-left: 10px;
}

.SubmitButton:hover {
    background-color: red;
}